.menu-criarconta {
    display: flex;
    flex-direction: column;
    background: rgba(38, 38, 38, 255);
    padding: 80px 0px 30px;
    position: relative;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: inset -2px -4px #0006;
    justify-content: center;
}

.menu-conteudo {
    display: flex;
    flex-direction: column;
}

.puc,
.craft {
    width: 600px;
    height: 152px;
    position: absolute;
    left: 125px;
    bottom: 380px;
}

.puc {
    bottom: 310px;
}

.menu-criarconta a {
    text-decoration: underline;
    color: white;
}

.menu-criarconta p {
    color: white;
}

.contaButton {
    background: rgba(17, 17, 17, 255);
    border: none;
    padding: 5px 100px;
    text-shadow: 2px 2px #000a;
    box-shadow: inset -2px 4px rgba(53, 46, 46, 0.253);
}

.inputs {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

.enviar-button {
    font-family: minecraft;
    font-size: 1.5rem;
    color: white;
    background: rgba(0, 139, 67, 255);
    margin: 20px 120px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    border: solid black 1.2px;
    text-shadow: 2px 2px #000a;
    box-shadow: inset 0px 3px #41c264;
}

.label-conta {
    font-family: minecraft;
    color: rgb(183, 178, 178);
    text-align: left;
    font-size: 0.9rem;
    margin: 10px 2px 10px 0px;
}
